@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" ng-app="app-trips">
    <div ng-view></div>

</div>

@section scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
}
