@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<TheWorld.Models.Trip>

@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" ng-app="app-trips">

    <div ng-controller="tripsController as vm" class="col-lg-6 col-lg-offset-3">
        <table class="table table-responsive table-striped">
            <tr ng-repeat="trip in vm.trips">
                <td>{{trip.name}}</td>
                <td>{{trip.created | date:'MM-dd-yyyy'}}</td>
                <td><a href="#" class="btn btn-sm btn-primary">Manage</a></td>
            </tr>
        </table>

        <form novalidate name="newTripForm" ng-submit="vm.addTrip()">
            <div class="form-group">
                <label>Trip Name</label>
                <input class="form-control" type="text" id="name" name="name"/>
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-sm" value="Add" type="submit" ng-model="vm.newTrip.name" required ng-minlength="5"/>
            </div>
        </form>

    </div>

    <div class="col-md-6">
        <h3>The Heading</h3>
        <p>Some text will be here very very soon!</p>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control"/>
            </div>
            <input type="submit" value="Add" class="btn btn-success"/>
        </form>
    </div>

    <div class="col-md-6">
        <h3>The Map</h3>

        @foreach (var item in Model)
        {
            <li>@item.Name @item.Date</li>
        }

    </div>
</div>

@section scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
}